MONGO_URI=mongodb+srv://<db_user>:<url_encoded_password>@crowdraise.cf7hsxx.mongodb.net/<database_name>?retryWrites=true&w=majority&appName=Crowdraise
JWT_KEY=replace_with_a_strong_random_secret
PORT=3000
